table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  letter-spacing: 1px;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1.5px solid rgb(210 210 210);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(244, 244, 247);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}